
div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

label {
    position: relative;
    display: block;
    width: 180px;
    height: 100px;
    border-radius: 100px;
    background-color: #000839;
    overflow: hidden;
    cursor: pointer;
}
label:before, label:after {
    display: block;
    position: absolute;
    content: "";
    width: 72px;
    height: 72px;
    border-radius: 50%;
    top: 14px;
    left: 14px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}
label:before {
    background-color: #ffa41b;
}
label:after {
    background-color: #000839;
    left: -58px;
    -webkit-transform: scale(0.00001);
    transform: scale(0.00001);
}

input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]:checked + label:before {
    background-color: #fff;
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
}
input[type="checkbox"]:checked + label:after {
    -webkit-transform: translateX(120px) scale(1);
    transform: translateX(120px) scale(1);
}
