.button-container{
    display: flex;
    justify-content: center;
}

.button-btn >svg{
    margin-right: 2em;
}
.button-btn{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}
.button-btn:hover{
    background:#fff;
    color:#1AAB8A;
}
.button-btn:before,.button-btn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
}
.button-btn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.button-btn:hover:before,.button-btn:hover:after{
    width:100%;
    transition:800ms ease all;
}
